@model fileweb.Models.DocsViewModel
@{
    ViewData["Title"] = "Home Page";
    int itemCount = 0;
    bool inLine = false;
}


<!-- Sidebar -->
<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading"> <img class="img-fluid" width="200" src="~/images/HAH_LOGO.svg"></div>
    <div class="list-group list-group-flush">
        @if (Model != null && Model.Category1List != null)
        {
            @foreach (var c1 in Model.Category1List.OrderBy(c => c))
            {
                <a href="@c1" class="list-group-item list-group-item-action bg-light">@c1</a>
            }
        }

    </div>
</div>


<!-- Page Content -->
<div id="page-content-wrapper">
    @if (Model != null)
    {
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <button class="btn btn-light btn-sm d-md-none" id="menu-toggle">
                <i class="fa fa-bars" aria-hidden="true"
                   id="iconc"></i> menu
            </button>

            <h5>@Model.Category1</h5>


        </nav>

        @if (Model.Category2List != null)
        {
            @foreach (var cat in Model.Category2List.OrderBy(c => c.CategoryName))
            {
                @if (inLine == true)
                {
                    inLine = false;
                    @Html.Raw("</div>")
                }
                <div class="container-fluid">
                    <div class="row mt-3 ml-3 mr-3">
                        <div class="col-12">
                            <h3 class="mb-3">@cat.CategoryName</h3>
                        </div>
                        @if (cat.Items != null)
                        {
                            @foreach (var item in cat.Items.OrderBy(i => i.SeqenceNo))
                            {
                                @if (item.IsHeader)
                                {
                                    itemCount = 0;
                                    @if (inLine == true)
                                    {
                                        inLine = false;
                                        @Html.Raw("</div>")
                                    }

                                    @if (item.SeqenceNo > 1)
                                    {
                                        <div class="col-12">
                                            <h5 class="mt-4">@item.Title</h5>
                                        </div>
                                    }


                                }
                                else
                                {
                                    @if (itemCount % 4 == 0)
                                    {
                                        inLine = true;
                                        @Html.Raw("<div class='row mt-2'>")
                                    }

                                    <div class="col-md-6 col-lg-3">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="mb-1">@item.Title &nbsp;<i class="fa @item.Icon" aria-hidden="true"></i></div>
                                                <div class="text-muted mb-2"><small>@item.Description</small></div>
                                                <a href="@item.Url" class="btn btn-light" target='@(item.NewWindow ? "_blank" : "_self")'><small><i class="fa fa-arrow-circle-right"></i>&nbsp;Click to View</small></a>
                                            </div>
                                        </div>
                                    </div>

                                    @if (itemCount % 4 == 3)
                                    {
                                        inLine = false;
                                        @Html.Raw("</div>")
                                    }

                                    itemCount = itemCount + 1;

                                }
                            }
                        }
                    </div>
                </div>
            }
        }
    }
</div>
<!-- /#page-content-wrapper -->
