@model fileweb.Models.DocsViewModel
@{
    ViewData["Title"] = "Home Page";
    int itemCount = 0;
    bool inLine = false;
}


<!-- Sidebar -->
<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading"> <img class="img-fluid" width="200" src="~/images/HAH_LOGO.svg"></div>
    <div class="list-group list-group-flush">
        @if (Model != null && Model.CategoryList != null)
        {
            @foreach (var c1 in Model.CategoryList.OrderBy(c => c))
            {
                <a href="@c1" class="list-group-item list-group-item-action bg-light">@c1</a>
            }
        }

    </div>
</div>


<!-- Page Content -->
<div id="page-content-wrapper">
    @if (Model != null)
    {
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <button class="btn btn-light btn-sm d-md-none" id="menu-toggle">
                <i class="fa fa-bars" aria-hidden="true"
                   id="iconc"></i> menu
            </button>

            <h5>@Model.Category</h5>


        </nav>
        <div class="container-fluid">
            <div class="row mt-3 ml-3 mr-3">
                @if (Model.SubCategoryList != null)
                {
                    @foreach (var cat2 in Model.SubCategoryList.OrderBy(c => c.Category))
                    {
                        <div class="col-12">
                            <h3 class="mb-3">@cat2.Category</h3>
                        </div>
                        @if (cat2.Rows != null)
                        {
                            @foreach (var row in cat2.Rows.OrderBy(i => i.SequenceNo))
                            {
                                <div class='col-12 row mt-2 mb-4'>
                                    @foreach (var item in row.Items.OrderBy(i => i.Title))
                                    {
                                        <div class="col-md-6 col-lg-3">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="mb-1">@item.Title &nbsp;<i class="fa @item.Icon" aria-hidden="true"></i></div>
                                                    <div class="text-muted mb-2"><small>@item.Description</small></div>
                                                    <a href="@item.Url" class="btn btn-light" target='@(item.NewWindow ? "_blank" : "_self")'><small><i class="fa fa-arrow-circle-right"></i>&nbsp;Click to View</small></a>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            }
                        }


                        @if (cat2.SubCategoryList != null)
                        {
                            foreach (var cat3 in cat2.SubCategoryList)
                            {
                                <div class="col-12">
                                    <h5 class="mt-4">@cat3.Category</h5>
                                </div>
                                @if (cat3.Rows != null)
                                {
                                    @foreach (var row in cat3.Rows.OrderBy(i => i.SequenceNo))
                                    {
                                        <div class='col-12 row mt-2 mb-4'>
                                            @foreach (var item in row.Items.OrderBy(i => i.Title))
                                            {
                                                <div class="col-md-6 col-lg-3">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <div class="mb-1">@item.Title &nbsp;<i class="fa @item.Icon" aria-hidden="true"></i></div>
                                                            <div class="text-muted mb-2"><small>@item.Description</small></div>
                                                            <a href="@item.Url" class="btn btn-light" target='@(item.NewWindow ? "_blank" : "_self")'><small><i class="fa fa-arrow-circle-right"></i>&nbsp;Click to View</small></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    }
                                }

                            }
                        }

                    }
                }
            </div>
        </div>
    }
</div>
<!-- /#page-content-wrapper -->
